.header {
    max-width: 1440px;
    height: 48px;
    padding: 20px 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   background-color: white;
   margin: 0 auto;
  
    
  }
  

  .logoContainer {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-grow: 1; 
  }
  
  .navLink {
    font-size: 16px;
    font-weight: 500;
    color: #121417;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .navLink:hover {
    color: #F4C550;
    ;
  }
  
  
  .buttonContainer {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .logoutButton {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    background: none;
    border: none;
    cursor: pointer;
    color: #121417;
    transition: color 0.3s;
  }
  
  .loginButton {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    background: none;
    border: none;
    cursor: pointer;
    color: #121417;
    transition: color 0.3s;
  }
  .logoutButton:hover {
    color: #F4C550;
  
  } 
  .loginButton:hover {
    color: #F4C550;
  
  }
  
 
  .icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  
 
  .registerButton {
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .registerButton:hover {
    background-color: #F4C550;
    ;
  }
  