.pageContainer {
    position: relative;
    
  }
  
  .headerContainer {
    max-width: 1440px;
    min-width: 1440px;
    position: static; 
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(246, 245, 244);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10; 
  }
  .contentContainer {
    min-height: 500px; 
    position: relative;
    z-index: 1;
}



  