.filters {
  display: flex;
  gap: 20px;
  background-color: #F8F8F8;
  justify-content: flex-start;
  align-items: center;
  width: 1440px;
  padding-left: 128px;
  padding-top: 96px;
  padding-bottom: 20px;
  

}
  